.publisher-explorer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 40px;

    padding: 60px 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .publisher-explorer {
        grid-template-columns: 1fr;
    }
}